#chessboard {
    margin-top: 60px;
    display: grid;
    justify-content: center;
    align-content: flex-start;
    grid-template-columns: repeat(8, 70px);
    grid-template-rows: repeat(8, 70px);
}
