{% extends "welcome/base.html" %}

{% block title %}Chess{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'welcome/welcome_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'chess_app/style.css' %}">
{% endblock %}

{% block content %}

{% load static %}
<script type="module" src="{% static 'welcome/components/Navbar.js' %}"></script>
<script type="module" src="{% static 'welcome/components/NavbarItem.js' %}"></script>
<script type="module" src="{% static 'chess_app/components/ChessboardSquare.js' %}"></script>
<script type="module" src="{% static 'chess_app/components/Chessboard.js' %}"></script>
<script type="module" src="{% static 'chess_app/index.js' %}"></script>

{% verbatim %}

<div id="app">
    <app></app>
</div>

{% endverbatim %}
{% endblock %}
