{% extends "welcome/base.html" %}

{% block title %}Chess{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'chess_app/components/styles/Chessboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'chess_app/components/styles/ChessboardSquare.css' %}">
{% endblock %}

{% block content %}

{% load static %}
<script type="module" src="{% static 'chess_app/components/ChessPiece.js' %}"></script>
<script type="module" src="{% static 'chess_app/components/ChessboardSquare.js' %}"></script>
<script type="module" src="{% static 'chess_app/components/Chessboard.js' %}"></script>
<script type="module" src="{% static 'chess_app/index.js' %}"></script>

{% verbatim %}

<div id="app">
    <app></app>
</div>

{% endverbatim %}
{% endblock %}
