:root {
    --square-size: 50px;
}

#chessboard {
    margin: 40px;
    display: grid;
    justify-content: center;
    align-content: flex-start;
    height: 80vh;
    grid-template-columns: repeat(8, var(--square-size));
    grid-template-rows: repeat(8, var(--square-size));
}

.chessboard-square {
    font-size: 38px;
    text-align: center;
    color: black;
}

.chessboard-square.white {
    background-color: rgb(248, 241, 215);
}

.chessboard-square.black {
    background-color: rgb(206, 159, 116);
}
