body {
    background-color: rgb(50, 60, 70);
    font-family: sans-serif;
}

.controls {
    display: grid;
    margin: 50px;
    justify-content: center;
    grid-template-columns: repeat(4, 130px);
    grid-template-rows: 50px;
}

.controls > button {
    cursor: pointer;
    font-size: 15px;
    border: 2px solid rgb(175, 100, 0);
    background-color: rgb(255, 225, 175);
}

.controls > button:hover {
    background-color: rgb(255, 240, 210);
}

.chessboard-grid {
    display: grid;
    justify-content: center;
    align-content: flex-start;
    margin: 50px;
    min-height: 90vh;
    grid-template-columns: repeat(8, 65px);
    grid-template-rows: repeat(8, 65px);
}

.chessboard-square {
    font-size: 13px;
}

.chessboard-square.dragging-over {
    border: 4px solid rgb(70, 60, 50);
}

.chessboard-square-piece {
    cursor: move;
    font-size: 30px;
    text-align: center;
}

.chessboard-square-piece.dragging {
    opacity: 0.5;
}

.black-square {
    background-color: rgb(175, 100, 0);
}

.white-square {
    background-color: rgb(255, 225, 175);
}

.chessboard-square-text {
    margin: auto;
    text-align: right;
}
